.swiper-slide{
    width: max-content;
    height: 400px;
}

.slide-img{
    display:block;
    max-width: 100%;
}

.slider-bottom{
    justify-content: space-between;
    width: 200px;
}

.slide-info{
    margin-left: 15px;
    padding-top: 10px;
}

.slide-description{
    font-size: 12px;
    margin-top: 20px;
    line-height: 1.2em;
}

.slide-caption{
    font-size: 18px;
}

.slide-content{
    color: #fff;
    position: absolute;
    margin-left: 30px;
    margin-top: 240px;
    width: 400px;
    height: 115px;
    background-color: rgba(243, 104, 61, 0.8);
}

.slider-bottom-img{
    display: block;
    width: 10;
    height: 100;
}

.more-info-links{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.more-info-block{
    width: 275px;
    margin-bottom: 40px;
}

.block-header{
    height: 50px;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 25px;
}

.block-caption{
    font-weight: normal;
    max-width: 170px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;    
    color: #e8663c;
}

.block-info{

    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 25px;
    line-height: 1.5em;
}

.block-img{
    margin-right: 20px;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 80%;
    width: 100%;
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 150px;
    height: 150px;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

.sign-button{
  font-size: 16px;
  font-weight: 550;
  border: 0;
  background: transparent;
}

#form{

  border-radius: 3px;
  background-color: rgba(23, 33, 52, 0.85);
  width: 400px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  padding-top: 50px;
  box-shadow: 0 -5px 0 #3adbfd;
}

input:focus {
  background: #cfcfcf;
}

.input-form:invalid{
  border :2px solid red;
}

input[type="text"], input[type="password"]{
  width: 300px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 4px;
  padding-left: 10px;
}

.submit-btn{
  padding: 13px 30px;
  margin: 5px 0 20px 0;
  font-size: 15px;
  color: #fff;
  background-color: #2ca8c6;
  border: none;
  border-bottom: 4px solid #6ee9fd;
  cursor: pointer;
}

.submit-btn:hover{
  transition: all 0.5s;
  background: #fff;
  color: #2c536c;
}

.shadow{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.8);
  position: fixed;
  z-index: 99;
}

#update{
    color: red;
    font-size: 14px;
    margin-left: auto;
}